{#
Home Page
--------------------------------------------------

This is your Homepage!
#}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "home" %}
{% block appTitle %}
Home
{% endblock %}


{% block appHeader %}
{% endblock %}

{% block appContent %}
<div id="app">
  <map-container></map-container>
</div>

<input type="text" id="slider" name="example_name" value="" class="map-slider"/>

<div id="api" class="vue">
  <status></status>
</div>


{% endblock %}

{% block appFooter %}
{% endblock %}
